# **PG Scratch Pad for trial code**

## Objectives

* This Notebook is to be used by PG as part of the project whilst testing code prior to including it in the core Notebook

---

In [7]:
import os
current_dir = "h:\\VScode\\Hackathon 2\\Team5-Hackathon2\\jupyter_notebooks"
current_dir

'h:\\VScode\\Hackathon 2\\Team5-Hackathon2\\jupyter_notebooks'

# Day 1

Section 1 content

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("h:\\VScode\\Hackathon 2\\Team5-Hackathon2\\BankChurners.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [7]:
#Headline data for 
Columns = ['Customer_Age',
           'Dependent_count',
           'Months_on_book',
           'Total_Relationship_Count',
           'Months_Inactive_12_mon',
           'Contacts_Count_12_mon',
           'Credit_Limit',
           'Total_Revolving_Bal',
           'Avg_Open_To_Buy',
           'Total_Amt_Chng_Q4_Q1',
           'Total_Trans_Amt',
           'Total_Ct_Chng_Q4_Q1',
           'Avg_Utilization_Ratio',
           # 'Attrition_Flag',
           'Avg_Utilization_Ratio']

CCard_sum_df = pd.DataFrame({
    'DataType': df[Columns].dtypes,
    'UniqueValues': df[Columns].nunique(),
    'RowsWithData': len(df[Columns])-df[Columns].isnull().sum(),
    'NullValues':df[Columns].isnull().sum(),
    'SkewScore':df[Columns].skew(),
    'Kurtosis':df[Columns].kurtosis()
})
CCard_sum_df

,DataType,UniqueValues,RowsWithData,NullValues,SkewScore,Kurtosis
Customer_Age,int64,45,10127,0,-0.033605,-0.288620
Dependent_count,int64,6,10127,0,-0.020826,-0.683017
Months_on_book,int64,44,10127,0,-0.106565,0.400100
Total_Relationship_Count,int64,6,10127,0,-0.162452,-1.006131
Months_Inactive_12_mon,int64,7,10127,0,0.633061,1.098523
Contacts_Count_12_mon,int64,7,10127,0,0.011006,0.000863
Credit_Limit,float64,6205,10127,0,1.666726,1.808989
Total_Revolving_Bal,int64,1974,10127,0,-0.148837,-1.145992
Avg_Open_To_Buy,float64,6813,10127,0,1.661697,1.798617
Total_Amt_Chng_Q4_Q1,float64,1158,10127,0,1.732063,9.993501
Total_Trans_Amt,int64,5033,10127,0,2.041003,3.894023
Total_Ct_Chng_Q4_Q1,float64,830,10127,0,2.064031,15.689293
Avg_Utilization_Ratio,float64,964,10127,0,0.718008,-0.794972
Avg_Utilization_Ratio,float64,964,10127,0,0.718008,-0.794972

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)